@font-face {
    font-family: 'Apercu';
    src: url('../assets/fonts/ApercuProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ApercuL';
    src: url('../assets/fonts/ApercuProLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BDsansN';
    src: url('../assets/fonts/PPMonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BDsansL';
    src: url('../assets/fonts/PPMonumentExtended-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
